# **Introduction**

This notebook is used to load and sort the results of the hyperparameter sweep.

# **Import Packages**

This section imports necessary packages.

In [88]:
# import these:
import numpy as np
import os
import json
import matplotlib.pyplot as plt
import pandas as pd

# **Loading the Data**

This section loads the data based on which model the user would like to evaluate.

In [ ]:
# define the model:
models = ["GLIE_MC", "SARSA_0", "SARSA_L"]
model = models[2]

# get the path to the results:
sweep_path = os.path.join(os.getcwd(), "sweep_results", model)

With the path, we can now load each file:

In [90]:
# initialize results list:
results = []

for file in os.listdir(sweep_path):
    # consolidate into one path:
    file_path = os.path.join(sweep_path, file)
    
    # open:
    with open(file_path, 'r') as f:
        data = json.load(f)

        # flatten the JSON:
        match model:
            case "GLIE_MC":
                extracted_data = {
                    # training params:
                    "gamma" : data["params"]["gamma"],
                    "epsilon_decay" : data["params"]["epsilon_decay"],

                    # training metrics:
                    "success_rate" : data["metrics"]["success_rate"],
                    "avg_return" : data["metrics"]["avg_return"],
                    "avg_length" : data["metrics"]["avg_length"]
                }
            case "SARSA_0":
                extracted_data = {
                    # training params:
                    "gamma" : data["params"]["gamma"],
                    "epsilon_decay" : data["params"]["epsilon_decay"],
                    "alpha" : data["params"]["alpha"],

                    # training metrics:
                    "success_rate" : data["metrics"]["success_rate"],
                    "avg_return" : data["metrics"]["avg_return"],
                    "avg_length" : data["metrics"]["avg_length"]
                }
            case "SARSA_L":
                extracted_data = {
                    # training params:
                    "gamma" : data["params"]["gamma"],
                    "epsilon_decay" : data["params"]["epsilon_decay"],
                    "alpha" : data["params"]["alpha"],
                    "lambda" : data["params"]["lamb"],

                    # training metrics:
                    "success_rate" : data["metrics"]["success_rate"],
                    "avg_return" : data["metrics"]["avg_return"],
                    "avg_length" : data["metrics"]["avg_length"]
                }

        # append to list:
        results.append(extracted_data)

# turn into a pandas df:
results_df = pd.DataFrame(results)

# insert an identifier for models:
results_df.insert(0, 'model_name', [f'{model}_model_{index + 1}' for index, row in results_df.iterrows()])

Save consolidated results into a .csv:

In [91]:
# make consolidated file path:
consolidated_file_path = os.path.join(os.getcwd(), "sweep_results/consolidated_results", model + "_results.csv")
results_df.sort_values(by = "success_rate", ascending = False).to_csv(consolidated_file_path, index = False)

# **Visualizing the Results**

This section sorts the consolidated results by the various metrics.

Sort the consolidated results by the highest success rate:

In [92]:
results_df.sort_values(by = "success_rate", ascending = False).head(10)

,model_name,gamma,epsilon_decay,alpha,success_rate,avg_return,avg_length
8,SARSA_0_model_9,0.99,8.000000e-07,0.05,75.8,0.722,41.702
9,SARSA_0_model_10,0.99,8.000000e-07,0.10,74.1,0.743,42.836
10,SARSA_0_model_11,0.99,8.000000e-07,0.25,72.0,0.730,42.364
21,SARSA_0_model_22,0.90,8.000000e-07,0.10,70.4,0.734,39.617
4,SARSA_0_model_5,0.99,3.000000e-07,0.05,68.6,0.710,39.582
1,SARSA_0_model_2,0.99,2.000000e-07,0.10,64.0,0.643,40.894
17,SARSA_0_model_18,0.90,3.000000e-07,0.10,61.3,0.591,37.236
5,SARSA_0_model_6,0.99,3.000000e-07,0.10,57.9,0.608,35.799
6,SARSA_0_model_7,0.99,3.000000e-07,0.25,52.1,0.502,30.301
16,SARSA_0_model_17,0.90,3.000000e-07,0.05,41.7,0.395,25.631

Sort the consolidated results by the highest average return:

In [93]:
results_df.sort_values(by = "avg_return", ascending = False).head(10)

,model_name,gamma,epsilon_decay,alpha,success_rate,avg_return,avg_length
9,SARSA_0_model_10,0.99,8.000000e-07,0.10,74.1,0.743,42.836
21,SARSA_0_model_22,0.90,8.000000e-07,0.10,70.4,0.734,39.617
10,SARSA_0_model_11,0.99,8.000000e-07,0.25,72.0,0.730,42.364
8,SARSA_0_model_9,0.99,8.000000e-07,0.05,75.8,0.722,41.702
4,SARSA_0_model_5,0.99,3.000000e-07,0.05,68.6,0.710,39.582
1,SARSA_0_model_2,0.99,2.000000e-07,0.10,64.0,0.643,40.894
5,SARSA_0_model_6,0.99,3.000000e-07,0.10,57.9,0.608,35.799
17,SARSA_0_model_18,0.90,3.000000e-07,0.10,61.3,0.591,37.236
6,SARSA_0_model_7,0.99,3.000000e-07,0.25,52.1,0.502,30.301
12,SARSA_0_model_13,0.90,2.000000e-07,0.05,39.4,0.405,35.723

Sort the consolidated results by the lowest average episode length:

In [94]:
results_df.sort_values(by = "avg_length", ascending = True).head(10)

,model_name,gamma,epsilon_decay,alpha,success_rate,avg_return,avg_length
7,SARSA_0_model_8,0.99,3.000000e-07,0.50,7.2,0.086,7.184
19,SARSA_0_model_20,0.90,3.000000e-07,0.50,13.6,0.145,10.841
20,SARSA_0_model_21,0.90,8.000000e-07,0.05,20.0,0.207,13.834
13,SARSA_0_model_14,0.90,2.000000e-07,0.10,20.6,0.173,14.954
15,SARSA_0_model_16,0.90,2.000000e-07,0.50,13.8,0.121,16.794
18,SARSA_0_model_19,0.90,3.000000e-07,0.25,13.0,0.145,18.864
2,SARSA_0_model_3,0.99,2.000000e-07,0.25,19.2,0.192,19.313
14,SARSA_0_model_15,0.90,2.000000e-07,0.25,21.8,0.227,19.329
0,SARSA_0_model_1,0.99,2.000000e-07,0.05,35.5,0.341,23.747
16,SARSA_0_model_17,0.90,3.000000e-07,0.05,41.7,0.395,25.631

Sort the consolidated results by the highest success rate, the highest average return, and the lowest average episode length:

In [95]:
results_df.sort_values(by = ["success_rate", "avg_return", "avg_length"], ascending = [False, False, True])

,model_name,gamma,epsilon_decay,alpha,success_rate,avg_return,avg_length
8,SARSA_0_model_9,0.99,8.000000e-07,0.05,75.8,0.722,41.702
9,SARSA_0_model_10,0.99,8.000000e-07,0.10,74.1,0.743,42.836
10,SARSA_0_model_11,0.99,8.000000e-07,0.25,72.0,0.730,42.364
21,SARSA_0_model_22,0.90,8.000000e-07,0.10,70.4,0.734,39.617
4,SARSA_0_model_5,0.99,3.000000e-07,0.05,68.6,0.710,39.582
1,SARSA_0_model_2,0.99,2.000000e-07,0.10,64.0,0.643,40.894
17,SARSA_0_model_18,0.90,3.000000e-07,0.10,61.3,0.591,37.236
5,SARSA_0_model_6,0.99,3.000000e-07,0.10,57.9,0.608,35.799
6,SARSA_0_model_7,0.99,3.000000e-07,0.25,52.1,0.502,30.301
16,SARSA_0_model_17,0.90,3.000000e-07,0.05,41.7,0.395,25.631
12,SARSA_0_model_13,0.90,2.000000e-07,0.05,39.4,0.405,35.723
11,SARSA_0_model_12,0.99,8.000000e-07,0.50,38.7,0.346,54.938
0,SARSA_0_model_1,0.99,2.000000e-07,0.05,35.5,0.341,23.747
22,SARSA_0_model_23,0.90,8.000000e-07,0.25,32.3,0.300,26.144
23,SARSA_0_model_24,0.90,8.000000e-07,0.50,27.5,0.268,28.421
14,SARSA_0_model_15,0.90,2.000000e-07,0.25,21.8,0.227,19.329
13,SARSA_0_model_14,0.90,2.000000e-07,0.10,20.6,0.173,14.954
20,SARSA_0_model_21,0.90,8.000000e-07,0.05,20.0,0.207,13.834
2,SARSA_0_model_3,0.99,2.000000e-07,0.25,19.2,0.192,19.313
3,SARSA_0_model_4,0.99,2.000000e-07,0.50,18.9,0.187,33.708
15,SARSA_0_model_16,0.90,2.000000e-07,0.50,13.8,0.121,16.794
19,SARSA_0_model_20,0.90,3.000000e-07,0.50,13.6,0.145,10.841
18,SARSA_0_model_19,0.90,3.000000e-07,0.25,13.0,0.145,18.864
7,SARSA_0_model_8,0.99,3.000000e-07,0.50,7.2,0.086,7.184